# Arquivos compilados
*.class
*.jar

# Arquivos do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Arquivos de IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de salvamento do jogo
save.txt 